<div class="poll__container" *ngIf="polls">
  <ng-container *ngIf="!isSummary; else summary">
    <div class="poll__single">
      <ng-container [ngTemplateOutlet]="pollItem" [ngTemplateOutletContext]="{ $implicit: polls[selectedPollId] }"></ng-container>
    </div>
    <div class="poll__actions">
      <button [disabled]="isPreviousButtonDisabled()" (click)="onActionButtonClicked(true)">Previous</button>
      <button *ngIf="isNextButtonDisplayed()" (click)="onActionButtonClicked(false)">Next</button>
      <button *ngIf="!isNextButtonDisplayed()" (click)="onActionButtonClicked(false)">Finalize</button>
    </div>
  </ng-container>
  <ng-template #summary>
    <div class="poll__summary">
      <h3>Thank you for participating, your answers were:</h3>
      <ul>
        <li class="poll__result" *ngFor="let poll of polls">
          {{ poll.question }} <i>Your answer{{ poll.type === pollType.SelectMore ? '(s)' : '' }}:</i> {{ poll.userAnswer }}
        </li>
      </ul>
    </div>
  </ng-template>

  <ng-template #pollItem let-selectedPoll>
    <fieldset>
      <legend>{{ selectedPoll.question }}</legend>
      <ng-container *ngIf="selectedPoll.type === pollType.FreeText; else radio">
        <textarea name="textArea" cols="30" rows="10" [(ngModel)]="selectedPoll.userAnswer"></textarea>
      </ng-container>
      <ng-template #radio>
        <div *ngFor="let poll of selectedPoll.answers">
          <input type="radio" [name]="selectedPoll.type === pollType.SelectOne ? 'single' : poll" [id]="poll" [value]="poll" (change)="onSelectedValueChanged($event)" />
          <label [for]="poll">{{ poll }}</label>
        </div>
      </ng-template>
    </fieldset>
  </ng-template>
</div>
