textarea {
  resize: none;
  width: 100%;
}

ul {
  padding-left: 1rem;
}

.poll__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .poll__actions {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}
